@import "FormCss.css";
* {
    margin: 0;
}

ul {
    border: 8px groove red;
    list-style-type: none;
    text-align: center;
    background-image: url(../image/MenuBar.jpg);
    background-size: cover;
    margin-bottom: 50px;
    padding: 24px 575px 25px 0;
}

li {
    display: inline;
    padding-left: 70px;
    font-size: 30px;
    padding-bottom: 10px;
}

a {
    text-decoration: none;
}

a:link {
    color: white;
}

a:visited {
    color: white;
}

#Home:hover {
    color: yellow;
}

#HTML:hover {
    color: yellowgreen;
}

#CSS:hover {
    color: red;
}

#JavaScript:hover {
    color: orange;
}

#SQL:hover {
    color: blue;
}

#Python:hover {
    color: deepskyblue;
}

#PHP:hover {
    color: blueviolet;
}
#Home:active {
    color: brown;
}

#HTML:active {
    color: yellow;
}

#CSS:active {
    color: greenyellow;
}

#JavaScript:active{
    color: red;
}

#SQL:active {
    color: darkorange;
}

#Python:active{
    color: blue;
}

#PHP:active {
    color: aqua;
}


