* {
  box-sizing: border-box;
}

.left {
  background-color: aqua;
  width: 20%;
  padding: 20px;
  float: left;
}
.main {
  background-color: greenyellow;
  width: 60%;
  padding: 20px;
  float: left;
}
.right {
  background-color: red;
  width: 20%;
  padding: 20px;
  float: left;
}
/* @media not screen and (max-width: 3000px) {
    .left,
    .main,
    .right {
        width: 100%;
    }
}*/
@media screen and (max-width: 3000px) {
    .left,
    .main,
    .right {
        width: 100%;
    }
}
